; Global settings for redshift
[redshift]
; Set the day and night screen temperatures
temp-day=6500
temp-night=2600

; Enable/Disable a smooth transition between day and night
transition=1

; Set the screen brightness. Default is 1.0
;brightness=0.9
; Set the screen gamma (for all colors, or each color channel individually)
gamma=1.0:1.0:1.0

; Set the location-provider: 'geoclue', 'gnome-clock', 'manual'
location-provider=manual

; Set the adjustment-method: 'randr', 'vidmode'
adjustment-method=randr

; Configuration of the location-provider:
; Berlin
[manual]
lat=52.2
lon=13.1
